:root {
  --tex-room: #222;
  --tex-walls: #555;
}

* {
  backface-visibility: hidden;
}

html,
body {
  overscroll-behavior: none;
}

body {
  display: grid;
  height: 100vh;
  height: 100dvh;
  margin: auto;
  place-items: center;
  image-rendering: pixelated;
  background-color: #000;
}

g-cam {
  contain: strict;
  perspective: 1000px;
}

g-rm {
  background-color: var(--tex-room);
}

g-rm,
g-itm {
  position: absolute;
  inset: 0 auto auto 0;
}

g-itm {
  will-change: opacity;
}

g-rm,
g-itm[dyn] {
  will-change: opacity, transform;
}

g-itm[p] {
  background-color: white;
}

g-itm[role="wall"] {
  background-color: var(--tex-walls);
}

g-itm[role="spikes"] {
  background-color: red;
}
