:root {
  --tex-room: #222;
  --tex-walls: #555;
}

* {
  backface-visibility: hidden;
}

g-cam,
g-rm {
  contain: strict;
}

html {
  overscroll-behavior: none;
}

body {
  display: grid;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  place-items: center;
  image-rendering: pixelated;
  background-color: #000;
}

g-rm,
g-itm {
  position: absolute;
  inset: 0 auto auto 0;
}

g-rm {
  background: var(--tex-room);
}

g-rm,
g-itm[dyn] {
  will-change: transform;
}

g-itm[p] {
  background-color: white;
}

g-itm[role="wall"] {
  background: var(--tex-walls);
}
