:root {
  --tex-room: #279af1;
  --tex-walls: #d0a98f;
}

* {
  backface-visibility: hidden;
}

html,
body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000;
}

g-cam {
  contain: strict;
  perspective: 768px;
  perspective-origin: center;
  background-color: var(--tex-room);
}

g-rm {
  will-change: transform;
  transform-style: preserve-3d;
}

g-rm,
g-itm,
g-face {
  position: absolute;
}

g-rm,
g-item[dyn] {
  inset: 0 auto auto 0;
}

g-itm {
  contain: layout size;
  transform-style: preserve-3d;
}

g-itm[dyn] {
  will-change: opacity, transform;
}

g-itm[p] {
  background-color: white;
}

g-itm[role="wall"] {
  transform: translateZ(32px);
  background-color: var(--tex-walls);
}

g-face[top] {
  inset: -64px 0 100% 0;
  transform-origin: bottom;
  transform: rotateX(90deg);
  background-color: #618b4a;
}

g-face[right] {
  inset: 0 -64px 0 100%;
  transform-origin: left;
  transform: rotateY(90deg);
  background-color: #c3916f;
}

g-face[bottom] {
  inset: 100% 0 -64px 0;
  transform-origin: top;
  transform: rotateX(-90deg);
  background-color: #b77b52;
}

g-face[left] {
  inset: 0 100% 0 -64px;
  transform-origin: right;
  transform: rotateY(-90deg);
  background-color: #e1c8b7;
}

g-itm[role="spikes"] {
  background-color: red;
}
